<div class="card" id="attachments-section">
  <div class="card-header bg-info text-white">
    <h4 class="card-title">Attachments</h4>
  </div>

  <div class="card-body">
    <div class="card border-info">
      <% if member_application.psych_eval.try(:persisted?) %>
        <div class="card-header" id="psych_eval_header">
          A file has been uploaded for Psychiatric Evaluation: <%= link_to "Download", url_for(member_application.psych_eval), target: "_blank" %>
        </div>
        <% unless controller.action_name == "show" %>
          <div class="card-body">
            <button type="button" class="btn btn-secondary" id="psych_eval_field_opener">
              <i class="fas fa-chevron-down"></i> <b>Click to upload a different file</b> <i class="fas fa-chevron-down"></i>
            </button>
            <div id="psych_eval_field" class="file-upload-field">
              <%= f.file_field :psych_eval, label: sanitize("Please attach a current" +
                " psychiatric evaluation using the DSM V (#{link_to 'template', 'https://fountainhouse-bucket.s3.amazonaws.com/Psychiatric+Evaluation+Template.docx', target: '_blank'})") %>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="card-body">
          <div id="psych_eval_field" class="file-upload-field">
            <%= f.file_field :psych_eval, label: sanitize("Please attach a current" +
              " psychiatric evaluation using the DSM V (#{link_to 'template', 'https://fountainhouse-bucket.s3.amazonaws.com/Psychiatric+Evaluation+Template.docx', target: '_blank'})"), required: true %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="card border-info">
      <% if member_application.psych_social.try(:persisted?) %>
        <div class="card-header" id="psych_social_header">
          A file has been uploaded for Psychosocial History: <%= link_to "Download", url_for(member_application.psych_social), target: "_blank" %>
        </div>
        <% unless controller.action_name == "show" %>
          <div class="card-body">
            <button type="button" class="btn btn-secondary" id="psych_social_field_opener">
              <i class="fas fa-chevron-down"></i> <b>Click to upload a different file</b> <i class="fas fa-chevron-down"></i>
            </button>
            <div id="psych_social_field" class="file-upload-field">
              <%= f.file_field :psych_social, label: sanitize("Please attach a current" +
                " and detailed psychosocial history (#{link_to 'template', 'https://fountainhouse-bucket.s3.amazonaws.com/Psychosocial+Template.pdf', target: '_blank'})") %>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="card-body">
          <div id="psych_social_field" class="file-upload-field">
            <%= f.file_field :psych_social, label: sanitize("Please attach a current" +
              " and detailed psychosocial history (#{link_to 'template', 'https://fountainhouse-bucket.s3.amazonaws.com/Psychosocial+Template.pdf', target: '_blank'})"), required: true %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="card border-info">
      <% if member_application.insurance_card.try(:persisted?) %>
        <div class="card-header" id="insurance_card_header">
          A file has been uploaded for Insurance Card: <%= link_to "Download", url_for(member_application.insurance_card), target: "_blank" %>
        </div>
        <% unless controller.action_name == "show" %>
          <div class="card-body">
            <button type="button" class="btn btn-secondary" id="insurance_card_field_opener">
              <i class="fas fa-chevron-down"></i> <b>Click to upload a different file</b> <i class="fas fa-chevron-down"></i>
            </button>
            <div id="insurance_card_field" class="file-upload-field">
              <%= f.file_field :insurance_card, label: "Please attach a current insurance card" %>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="card-body">
          <div id="insurance_card_field" class="file-upload-field">
            <%= f.file_field :insurance_card, label: "Please attach a current insurance card", required: true %>
          </div>
        </div>
      <% end %>
    </div>

    <% unless controller.action_name == "show" %>
      <p><em>Accepted file types: .pdf, .doc, .docx, .jpg</em></p>
    <% end %>
  </div>
</div>
