<%= f.select :ever_worked, ["No", "Yes"],
  label: "Have you ever worked for pay?" %>

<%= f.select :worked_last_12_months, ["No", "Yes"],
  label: "Have you worked in the last 12 months?" %>

<br>

<h5>
  Please list all employment. Be sure to include the most recent and longest
  job.
</h5>

<div class="form-inline">
  <div class="col-xs-4 row_element">
    <div class="col-lg-6 col-xs-6">
      <strong>Start Date</strong>
    </div>
    <div class="col-lg-6 col-xs-6">
      <strong>End Date</strong>
    </div>
  </div>

  <div class="col-xs-4 row_element">
    <strong>Employer</strong>
  </div>

  <div class="col-xs-4 row_element">
    <div class="col-lg-6 col-xs-6">
      <strong>Title</strong>
    </div>
    <div class="col-lg-6 col-xs-6">
      <strong>Type of work</strong>
    </div>
  </div>
</div>

<div class="form-inline">
  <div class="col-xs-4 row_element">
    <div class="col-lg-6 col-xs-6">
      <%= f.text_field :work_start_date_1,
        hide_label: true, control_col: "col-lg-12",
        class: "row_field",
        data: { behavior: "flatpickr-months-only" } %>
    </div>
    <div class="col-lg-6 col-xs-6">
      <%= f.text_field :work_end_date_1,
        hide_label: true, control_col: "col-lg-12",
        class: "row_field",
        data: { behavior: "flatpickr-months-only" } %>
    </div>
  </div>
  <div class="col-xs-4 row_element">
    <%= f.text_field :employer_1,
      hide_label: true, control_col: "col-lg-12", class: "row_field" %>
  </div>
  <div class="col-xs-4 row_element">
    <div class="col-lg-6 col-xs-6">
      <%= f.text_field :work_title_1,
        hide_label: true, control_col: "col-lg-12", class: "row_field" %>
    </div>
    <div class="col-lg-6 col-xs-6">
      <%= f.text_field :work_type_1,
        hide_label: true, control_col: "col-lg-12", class: "row_field" %>
    </div>
  </div>
</div>

<div class="form-inline">
  <div class="col-xs-4 row_element">
    <div class="col-lg-6 col-xs-6">
      <%= f.text_field :work_start_date_2,
        hide_label: true, control_col: "col-lg-12",
        class: "row_field",
        data: { behavior: "flatpickr-months-only" } %>
    </div>
    <div class="col-lg-6 col-xs-6">
      <%= f.text_field :work_end_date_2,
        hide_label: true, control_col: "col-lg-12",
        class: "row_field",
        data: { behavior: "flatpickr-months-only" } %>
    </div>
  </div>
  <div class="col-xs-4 row_element">
    <%= f.text_field :employer_2,
      hide_label: true, control_col: "col-lg-12", class: "row_field" %>
  </div>
  <div class="col-xs-4 row_element">
    <div class="col-lg-6 col-xs-6">
      <%= f.text_field :work_title_2,
        hide_label: true, control_col: "col-lg-12", class: "row_field" %>
    </div>
    <div class="col-lg-6 col-xs-6">
      <%= f.text_field :work_type_2,
        hide_label: true, control_col: "col-lg-12", class: "row_field" %>
    </div>
  </div>
</div>

<div class="form-inline">
  <div class="col-xs-4 row_element">
    <div class="col-lg-6 col-xs-6">
      <%= f.text_field :work_start_date_3,
        hide_label: true, control_col: "col-lg-12",
        class: "row_field",
        data: { behavior: "flatpickr-months-only" } %>
    </div>
    <div class="col-lg-6 col-xs-6">
      <%= f.text_field :work_end_date_3,
        hide_label: true, control_col: "col-lg-12",
        class: "row_field",
        data: { behavior: "flatpickr-months-only" } %>
    </div>
  </div>
  <div class="col-xs-4 row_element">
    <%= f.text_field :employer_3,
      hide_label: true, control_col: "col-lg-12", class: "row_field" %>
  </div>
  <div class="col-xs-4 row_element">
    <div class="col-lg-6 col-xs-6">
      <%= f.text_field :work_title_3,
        hide_label: true, control_col: "col-lg-12", class: "row_field" %>
    </div>
    <div class="col-lg-6 col-xs-6">
      <%= f.text_field :work_type_3,
        hide_label: true, control_col: "col-lg-12", class: "row_field" %>
    </div>
  </div>
</div>

<div class="form-inline">
  <div class="col-xs-4 row_element">
    <div class="col-lg-6 col-xs-6">
      <%= f.text_field :work_start_date_4,
        hide_label: true, control_col: "col-lg-12",
        class: "row_field",
        data: { behavior: "flatpickr-months-only" } %>
    </div>
    <div class="col-lg-6 col-xs-6">
      <%= f.text_field :work_end_date_4,
        hide_label: true, control_col: "col-lg-12",
        class: "row_field",
        data: { behavior: "flatpickr-months-only" } %>
    </div>
  </div>
  <div class="col-xs-4 row_element">
    <%= f.text_field :employer_4,
      hide_label: true, control_col: "col-lg-12", class: "row_field" %>
  </div>
  <div class="col-xs-4 row_element">
    <div class="col-lg-6 col-xs-6">
      <%= f.text_field :work_title_4,
        hide_label: true, control_col: "col-lg-12", class: "row_field" %>
    </div>
    <div class="col-lg-6 col-xs-6">
      <%= f.text_field :work_type_4,
        hide_label: true, control_col: "col-lg-12", class: "row_field" %>
    </div>
  </div>
</div>

<div class="form-inline">
  <div class="col-xs-4 row_element">
    <div class="col-lg-6 col-xs-6">
      <%= f.text_field :work_start_date_5,
        hide_label: true, control_col: "col-lg-12",
        class: "row_field",
        data: { behavior: "flatpickr-months-only" } %>
    </div>
    <div class="col-lg-6 col-xs-6">
      <%= f.text_field :work_end_date_5,
        hide_label: true, control_col: "col-lg-12",
        class: "row_field",
        data: { behavior: "flatpickr-months-only" } %>
    </div>
  </div>
  <div class="col-xs-4 row_element">
    <%= f.text_field :employer_5,
      hide_label: true, control_col: "col-lg-12", class: "row_field" %>
  </div>
  <div class="col-xs-4 row_element">
    <div class="col-lg-6 col-xs-6">
      <%= f.text_field :work_title_5,
        hide_label: true, control_col: "col-lg-12", class: "row_field" %>
    </div>
    <div class="col-lg-6 col-xs-6">
      <%= f.text_field :work_type_5,
        hide_label: true, control_col: "col-lg-12", class: "row_field" %>
    </div>
  </div>
</div>

<%= f.text_area :work_notes, label: "Work notes" %>
