<%= bootstrap_form_for(member_application, label_col: "col-lg-1 col-xs-1",
  id:"application-form", multipart: true) do |f| %>

  <div class="card">
    <div class="card-header bg-info text-white">
      <h4 class="card-title">Eligibility</h4>
    </div>

    <div class="card-body">
      To be eligible for membership an applicant must:
      <br>
      <ol>
        <li>be interested in attending Fountain House, as membership is
          voluntary.</li>
        <li>have a primary presenting problem associated with severe and
          persistent mental illness.</li>
        <li>be able to get to Fountain House.</li>
        <li>not pose a threat to our community.</li>
        <li>be at least 18 years of age.</li>
        <br>
        <p>
          <em>
            "The Clubhouse has control over its acceptance of new members"
            <br>- Standard #2, International Standards for Clubhouse Programs,
            Clubhouse International
          </em>
        </p>
      </ol>
      <p>
        Fountain House does not discriminate on the basis of race, color, religion, sex, age, national origin, veteran status, sexual orientation, gender identity, disability, or any other basis of discrimination prohibited by law.
      </p>
    </div>
  </div>

  <%= render partial: "attachments", locals: { f: f, member_application: member_application } %>

  <div class="card">
    <div class="card-header bg-info text-white">
      <h4 class="card-title">Prospective Member</h4>
    </div>

    <div class="card-body">

      <%= f.text_field :first_name, label: "First Name", required: true %>

      <%= f.text_field :mi, label: "Middle Initial" %>

      <%= f.text_field :last_name, label: "Last Name", required: true %>

      <%= f.text_field :dob, label: "Date of Birth",
        required: true, id: "dob-field",
        data: { behavior: "flatpickr" } %>

      <%= f.text_field :age, label: "Age", required: true, id: "age-field",
        readonly: true %>

      <%= f.text_field :ssn, {label: "SSN",
        required: true, id: "ssn-field", pattern: "^[0-9]{9}$",
        title: "must be a 9 digit number"} %>

      <%= f.text_field :gender, label: "Gender",
        required: true %>
    </div>
  </div>

  <div class="card">
    <div class="card-header bg-info text-white">
      <h4 class="card-title">Address</h4>
    </div>

    <div class="card-body">

      <%= f.text_field :street_address, label: "Street address", required: true %>

      <%= f.text_field :apt, label: "Apartment" %>

      <%= f.text_field :city, label: "City",
        required: true %>

      <%= f.text_field :state, label: "State",
        required: true %>

      <%= f.number_field :zip_code, label: "Zip code",
        required: true %>

      <%= f.phone_field :phone_number, label: "Phone number", required: true %>

      <%= f.text_field :county, label: "County" %>

      <%= f.text_field :residence_time_length,
        label: "How long have you resided Here?", required: true %>

      <%= f.text_field :housing_agency_program_name, label: "If you live in a housing program, what is the agency of that program?" %>

      <%= f.email_field :email_address, label: "E-mail address" %>
    </div>
  </div>

  <div class="card">
    <div class="card-header bg-info text-white">
      <h4 class="card-title">Who is recommending you?</h4>
    </div>

    <div class="card-body">
      <%= f.text_field :recommend_name, label: "Name", required: true %>

      <%= f.text_field :recommend_agency, label: "Agency Name", required: true %>

      <%= f.phone_field :recommend_phone_number, label: "Phone number", required: true %>

      <%= f.text_field :recommend_agency_type, label: "Type of agency", require: true %>

      <%= f.text_field :recommend_known_length,
        label: "How long have you known this person?",
        required: true %>

      <%= f.email_field :recommend_email, label: "E-mail address" %>
    </div>
  </div>

  <div class="card">
    <div class="card-header bg-info text-white">
      <h4 class="card-title">Fountain House Tour</h4>
    </div>

    <div class="card-body">
      <div class="left-right-container">
        <%= f.label :tour_fh, ("Have you had a" +
          " tour of Fountain House?"), class: "position-left" %>
        <%= f.form_group :tour_fh do %>
          <div class="position-right">
            <%= f.radio_button :tour_fh, "No", label: "No",
              required: true, inline: true %>
            <%= f.radio_button :tour_fh, "Yes", label: "Yes",
              required: true, inline: true %>
          </div>
        <% end %>
      </div>

      <%= f.text_field :tour_date, label: "Date of tour", data: { behavior: "flatpickr" } %>
    </div>
  </div>

  <div class="card">
    <div class="card-header bg-info text-white">
      <h4 class="card-title">Main Goals</h4>
    </div>

    <div class="card-body">
      <%= f.select :main_goal, [
          "Community",
          "Socialize/Friends",
          "Education",
          "Employment",
          "Wellness",
          "Benefits/Resources",
          "Other"
        ],
        { label: "What is your main goal in joining Fountain House?" } %>

      <%= f.text_field :main_goal_other_text, label: "Other (if applicable)" %>

      <%= f.text_area :why_fh_good_place, label: "Why would Fountain House be a good place for you?" %>

      <%= f.text_area :what_challenges, label: "What challenges or barriers are keeping you from achieving your goals?" %>
    </div>
  </div>

  <div class="card">
    <div class="card-header bg-info text-white">
      <h4 class="card-title">Housing</h4>
    </div>

    <div class="card-body">
      <%= f.select :current_housing_type, [
          "Own Home/Apartment (Non-subsidized)",
          "Home of Family Member",
          "SRO",
          "Supported Apartment (Subsidized)",
          "24 Hour Supervised Housing",
          "Supportive Apartment",
          "Nursing Home",
          "Shelter",
          "Homeless/Undomiciled"
        ],
        { include_blank: true }, { required: true } %>

      <%= f.select :live_alone_or_with_others, ["Alone", "With others"],
        { label: "Do you live alone or with others?", include_blank: true }, { required: true } %>

      <%= f.text_field :who_live_with, label: "If living with others, with whom?" %>

      <%= f.select :have_homeless_history, ["No", "Yes"], { include_blank: true, label: "Do you have a history of homelessness?" }, { required: true } %>

      <%= f.text_area :homeless_explanation, label: "If so, please explain" %>

      <%= f.select :reside_with_minors, ["No", "Yes"],
        { label: "Do minor children reside in your home?", include_blank: true }, { required: true } %>

      <div id="acs-select" class="<%= 'hide-element' unless params.dig(:member_application, :acs_involvement) %>">
        <%= f.select :acs_involvement, ["No", "Yes"],
          label: ("If so, is there or has there ever been any ACS" +
          " (Administration for Children's Services) involvement?") %>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header bg-info text-white">
      <h4 class="card-title">Income</h4>
      <h5 class="card-text">
        Enter monthly amounts in any categories that apply
      </h5>
    </div>

    <div class="card-body">

      <%= f.number_field :ssi, label: "SSI", value: (params.dig(:member_application, :ssi) || member_application.ssi || 0),
        class: "income-field" %>

      <%= f.number_field :ssdi, label: "SSDI", value: (params.dig(:member_application, :ssdi) || member_application.ssdi || 0),
        class: "income-field" %>

      <%= f.number_field :wages, label: "Wages", value: (params.dig(:member_application, :wages) || member_application.wages || 0),
        class: "income-field" %>

      <%= f.number_field :family_income, label: "Family/Family Support",
        value: (params.dig(:member_application, :family_income) || member_application.family_income || 0), class: "income-field" %>

      <%= f.number_field :snap, label: "SNAP", value: (params.dig(:member_application, :snap) || member_application.snap || 0),
        class: "income-field" %>

      <%= f.number_field :retirement_benefits, label: "Retirement Benefits",
        value: (params.dig(:member_application, :retirement_benefits) || member_application.retirement_benefits || 0), class: "income-field" %>

      <%= f.number_field :veteran_benefits, label: "Veteran's Benefits",
        value: (params.dig(:member_application, :veteran_benefits) || member_application.veteran_benefits || 0), class: "income-field" %>

      <%= f.number_field :public_assistance, label: "Public Assistance",
        value: (params.dig(:member_application, :public_assistance) || member_application.public_assistance || 0), class: "income-field" %>

      <%= f.number_field :other_income, label: "Other",
        value: (params.dig(:member_application, :other_income) || member_application.other_income || 0), class: "income-field" %>

      <%= f.number_field :total_income, label: "Total Income",
        value: (params.dig(:member_application, :total_income) || member_application.total_income || 0), id: "total-field",
        readonly: true, required: true %>
    </div>
  </div>

  <div class="card">
    <div class="card-header bg-info text-white">
      <h4 class="card-title">Ethnicity (check all that apply)</h4>
    </div>

    <div class="card-body">
      <div class="card">
        <div class="card-body">
          <%= f.form_group do %>
            <%= f.check_box :eth_aa, label: "Black (African-American)", inline: true %>

            <%= f.check_box :eth_aa_carrib, label: "Black (Afro-Carribean)", inline: true %>

            <%= f.check_box :eth_aa_ac, label: "Black (African Continent)", inline: true %>

            <%= f.check_box :eth_black_other, label: "Black (Other)", inline: true %>

            <%= f.check_box :eth_cuban, label: "Hispanic (Cuban)", inline: true %>

            <%= f.check_box :eth_mex, label: "Hispanic (Mexican)", inline: true %>

            <%= f.check_box :eth_pr, label: "Hispanic (Puerto Rican)", inline: true %>

            <%= f.check_box :eth_dom, label: "Hispanic (Dominican)", inline: true %>

            <%= f.check_box :eth_sa, label: "Hispanic (South American)", inline: true %>

            <%= f.check_box :eth_ca, label: "Hispanic (Central American)", inline: true %>

            <%= f.check_box :eth_pi, label: "Pacific Islander / Native Hawaiian", inline: true %>

            <%= f.check_box :eth_na, label: "Native American / American Indian", inline: true %>

            <%= f.check_box :eth_asian_fe, label: "Asian (Far East)", inline: true %>

            <%= f.check_box :eth_asian_se, label: "Asian (South East)", inline: true %>

            <%= f.check_box :eth_asian_is, label: "Asian (Indian subcontinent)", inline: true %>

            <%= f.check_box :eth_white_na, label: "White (North African)", inline: true %>

            <%= f.check_box :eth_white_me, label: "White (Middle Eastern)", inline: true %>

            <%= f.check_box :eth_white_amer, label: "White (American)", inline: true %>

            <%= f.check_box :eth_white_eu, label: "White (European)", inline: true %>

            <%= f.check_box :eth_white_other, label: "White (Other)", inline: true %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header bg-info text-white">
      <h4 class="card-title">Demographic Info</h4>
    </div>

    <div class="card-body">
      <%= f.text_field :other_language,
        label: "Primary language (if other than English)" %>

      <%= f.select :marital_status, [
          "Single, Never Married",
          "Married",
          "Permanent Partner",
          "Separated",
          "Divorced",
          "Widowed"
        ],
        { label: "Marital Status", include_blank: true }, { required: true } %>

      <%= f.select :have_children, ["No", "Yes"], { label: "Do you have any children?", include_blank: true }, { required: true } %>

      <%= f.text_field :children_number, label: "If yes, how many?" %>

      <%= f.select :are_you_veteran, ["No", "Yes"], { label: "Are you a veteran?", include_blank: true }, { required: true } %>

      <%= f.select :us_citizen, ["No", "Yes"], { label: "Are you a U.S. citizen?", include_blank: true }, { required: true } %>
    </div>
  </div>

  <div class="card">
    <div class="card-header bg-info text-white">
      <h4 class="card-title">Education Level</h4>
      <h5 class="card-text">(check all that apply)</h5>
    </div>

    <div class="card-body">
      <%= render partial: "education_level", locals: {f: f} %>
    </div>
  </div>

  <div class="card">
    <div class="card-header bg-info text-white">
      <h4 class="card-title">Current Community</h4>
      <h5 class="card-text">How well do each of the following statements represent how you <i>feel</i> about your current community?</h5>
    </div>

    <div class="card-body">
      <%= f.select :get_needs_met, ["Not at all", "Somewhat", "Mostly", "Completely"], { label: "I get important needs of mine met by my current community", include_blank: true }, { required: true } %>

      <%= f.select :feel_part, ["Not at all", "Somewhat", "Mostly", "Completely"], { label: "It is important for me to feel a part of a community", include_blank: true }, { required: true } %>
    </div>
  </div>

  <div class="card">
    <div class="card-header bg-info text-white">
      <h4 class="card-title">Employment History</h4>
    </div>

    <div class="card-body">
      <%= render partial: "employment_history", locals: {f: f} %>
    </div>
  </div>

  <div class="card">
    <div class="card-header bg-info text-white">
      <h4 class="card-title">Medical Alerts</h4>
      <h5 class="card-text">(check all that apply)</h5>
    </div>

    <div class="card-body">

      <%= f.form_group do %>
        <%= f.check_box :med_alert_deaf, label: "Deaf/Hearing Impairment", inline: true %>

        <%= f.check_box :med_alert_asthma, label: "Asthma", inline: true %>

        <%= f.check_box :med_alert_cpi, label: "Chronic Physical Illness", inline: true %>

        <%= f.check_box :med_alert_allerg, label: "Severe Allergic Reactions", inline: true %>

        <%= f.check_box :med_alert_npm, label: "New Psychiatric Medication", inline: true %>

        <%= f.check_box :med_alert_blind, label: "Blind/Visual Impairment", inline: true %>

        <%= f.check_box :med_alert_recent_surg, label: "Recent Surgery", inline: true %>

        <%= f.check_box :med_alert_diabetes, label: "Diabetes", inline: true %>

        <%= f.check_box :med_alert_ep, label: "Epilepsy/Seizure Disorder", inline: true %>

        <%= f.check_box :med_alert_hyper, label: "Hypertension", inline: true %>
      <% end %>

      <%= f.text_field :med_alert_other, label: "Other (if applicable)" %>

      <%= f.text_area :med_alert_memo, label: "Alert Memo" %>
    </div>
  </div>

  <div class="card">
    <div class="card-header bg-info text-white">
      <h4 class="card-title">Psychiatric/NP Contact</h4>
    </div>

    <div class="card-body">

      <%= f.text_field :psych_name, label: "Psychiatrist/NP" %>

      <%= f.text_field :psych_agency, label: "Agency" %>

      <%= f.phone_field :psych_phone, label: "Phone" %>

      <%= f.text_field :psych_address, label: "Address" %>

      <%= f.text_field :psych_seeing_length,
        label: "How long have you been seeing this psychiatrist?" %>

      <%= f.email_field :psych_email, label: "E-mail" %>
    </div>
  </div>

  <div class="card">
    <div class="card-header bg-info text-white">
      <h4 class="card-title">Therapist Contact</h4>
    </div>

    <div class="card-body">
      <%= f.text_field :therapist_name, label: "Therapist" %>

      <%= f.text_field :therapist_agency, label: "Agency" %>

      <%= f.phone_field :therapist_phone, label: "Phone" %>

      <%= f.text_field :therapist_address, label: "Address" %>

      <%= f.text_field :therapist_seeing_length,
        label: "How long have you been seeing this therapist?" %>

      <%= f.email_field :therapist_email, label: "E-mail" %>
    </div>
  </div>

  <div class="card">
    <div class="card-header bg-info text-white">
      <h4 class="card-title">Medical Contact</h4>
    </div>

    <div class="card-body">
      <%= f.text_field :primary_care_name, label: "Primary Care MD" %>

      <%= f.text_field :primary_care_agency, label: "Agency" %>

      <%= f.phone_field :primary_care_phone, label: "Phone" %>

      <%= f.text_field :primary_care_address, label: "Address" %>

      <%= f.email_field :primary_care_email, label: "E-mail" %>
    </div>
  </div>

  <div class="card">
    <div class="card-header bg-info text-white">
      <h4 class="card-title">Emergency Contacts</h4>
    </div>

    <div class="card-body">

      <%= f.text_field :emerg_primary_name, label: "Name (Primary)" %>

      <%= f.phone_field :emerg_primary_phone, label: "Phone (Primary)" %>

      <%= f.text_field :emerg_primary_relation, label: "Relationship (Primary)" %>

      <%= f.text_field :emerg_secondary_name, label: "Name (Secondary)" %>

      <%= f.phone_field :emerg_secondary_phone, label: "Phone (Secondary)" %>

      <%= f.text_field :emerg_secondary_relation, label: "Relationship (Secondary)" %>
    </div>
  </div>

  <div class="card">
    <div class="card-header bg-info text-white">
      <h4 class="card-title">Medical Insurance</h4>
    </div>

    <div class="card-body">

      <%= f.select :insurance_name, [
          "None",
          "Other (fill in below)",
          "Straight Medicaid",
          "Medicare",
          "Family pays",
          "Self pay",
          "Private Insurance",
          "Veteran's Benefits",
          "Worker's Compensation",
          "Medicaid Managed Care (fill in name of company below)"
        ],
        { label: "Insurance plan", include_blank: true }, { required: true } %>

      <div id="insurance-num"
        class="<%= 'hide-element' unless params.dig(:member_application, :insurance_num) %>">
        <%= f.text_field :insurance_num, label: "Insurance policy number" %>
      </div>

      <div id="insurance-other"
        class="<%= 'hide-element' unless params.dig(:member_application, :insurance_other) %>">
        <%= f.text_field :insurance_other,
          label: "If \"Other,\" please elaborate" %>
      </div>

      <div id="medicaid-managed"
        class="<%= 'hide-element' unless params.dig(:member_application, :medicaid_comp) %>">
        <%= f.text_field :medicaid_comp,
        label: "If Medicaid Managed Care, what is the name of the company?" %>
      </div>

      <%= f.select :harp, ["No", "Yes", "Unknown"],
        { label: "Health And Recovery Plan (HARP)", include_blank: true }, { required: true } %>
      <%= f.select :hcbs, ["No", "Yes", "Unknown"], { label: "Home and Community Based Services (HCBS)", include_blank: true }, { required: true } %>

      <%= f.text_field :last_physical_exam_date,
        label: "Date of last physical exam", required: true, data: { behavior: "flatpickr" } %>

      <%= f.text_field :last_dental_exam_date,
        label: "Date of last dental exam", data: { behavior: "flatpickr" } %>
    </div>
  </div>

  <div class="card">
    <div class="card-header bg-info text-white">
      <h4 class="card-title">Diagnosis</h4>
    </div>
    <div class="card-body">
      <%= f.text_area :dsm_v, label: "Psychiatric Diagnosis (DSM V)", required: true %>
    </div>
  </div>  

  <div class="card">
    <div class="card-header bg-info text-white">
      <h4 class="card-title">Medication Information</h4>
      <h5 class="card-text">Please list all medications you are currently
        taking with respective names, dosage, and frequency.</h5>
    </div>
    <div class="card-body">
      <%= render partial: "medication_info", locals: {f: f} %>
    </div>
  </div>  

  <div class="card">
    <div class="card-header bg-info text-white">
      <h4 class="card-title">Psychiatric Hospitalizations</h4>
      <h5 class="card-text">Please list your first and most recent hospitalization, indicating the name of hospital and <em>approximate</em> dates.</h5>
    </div>
    <div class="card-body">
      <%= f.number_field :hospitalization_count,
        label: "Total Number of Psychiatric Inpatient Hospitalizations", id: "hosp-count",
        required: true %>
    </div>
    <div class="col-lg-11 col-xs-11">
      <div class="row">
        <div class="col-lg-4 col-xs-4 row_element">
          <%= f.text_field :hospital_first_name, hide_label: true,
            control_col: "col-lg-12", class: "row_field",
            placeholder: "First Hospital Name" %>
        </div>

        <div class="col-lg-4 col-xs-4 row_element">
          <%= f.text_field :hospital_first_start_date, hide_label: true,
            control_col: "col-lg-12",
            class: "row_field",
            data: { behavior: "flatpickr" },
            placeholder: "Approx. Start Date" %>
        </div>

        <div class="col-lg-4 col-xs-4 row_element">
          <%= f.text_field :hospital_first_end_date, hide_label: true,
            control_col: "col-lg-12",
            class: "row_field",
            data: { behavior: "flatpickr" },
            placeholder: "Approx. End Date" %>
        </div>
      </div>
    </div>

    <div class="col-lg-11 col-xs-11">
      <div class="row">
        <div class="col-lg-4 col-xs-4 row_element">
          <%= f.text_field :hospital_recent_name, hide_label: true,
            control_col: "col-lg-12", class: "row_field",
            placeholder: "Most Recent Hospital Name" %>
        </div>

        <div class="col-lg-4 col-xs-4 row_element">
          <%= f.text_field :hospital_recent_start_date, hide_label: true,
            control_col: "col-lg-12",
            class: "row_field",
            data: { behavior: "flatpickr" },
            placeholder: "Approx. Start Date" %>
        </div>

        <div class="col-lg-4 col-xs-4 row_element">
          <%= f.text_field :hospital_recent_end_date, hide_label: true,
            control_col: "col-lg-12",
            class: "row_field",
            data: { behavior: "flatpickr" },
            placeholder: "Approx. End Date" %>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header bg-info text-white">
      <h4 class="card-title">Substance Abuse History</h4>
    </div>

    <div class="card-body">
      <%= f.select :currently_tobacco, ["No", "Yes"],
        { label: "Do you currently smoke tobacco or use tobacco products?", include_blank: true }, { required: true } %>

      <%= f.select :history_tobacco, ["No", "Yes"],
        { label: "Do you have a history of smoking or using tobacco products?", include_blank: true }, { required: true } %>

      <%= f.select :abuse_history_alcohol, ["No", "Yes"],
        { label: "Do you have a history of alcohol abuse?", include_blank: true }, { required: true } %>

      <%= f.select :abuse_history_drugs, ["No", "Yes"],
        { label: "Do you have a history of drug abuse?", include_blank: true }, { required: true } %>

      <%= f.select :ever_in_treatment, ["No", "Yes"],
        { label: "Have you ever been in treatment for an alcohol or drug problem?", include_blank: true }, { required: true } %>

      <%= f.text_field :past_treatment_when_and_where,
        label: "If so, when and where?" %>

      <%= f.select :currently_in_treatment, ["No", "Yes"],
        { label: ("Are you currently in treatment or in a support group for alcohol or drug abuse?"), include_blank: true }, { required: true } %>

      <%= f.text_field :current_treatment_when_and_where,
        label: "If so, when and where?" %>

      <%= f.select :interested_in_treatment, ["No", "Yes"],
        { label: ("Are you interested in being in treatment or a support group for alcohol or drug abuse?"), include_blank: true }, { required: true } %>
    </div>
  </div>

  <div class="card">
    <div class="card-header bg-info text-white">
      <h4 class="card-title">Legal History</h4>
    </div>

    <div class="card-body">
      <%= render partial: "legal_history", locals: {f: f} %>
    </div>
  </div>

  <div class="card">
    <div class="card-header bg-info text-white">
      <h4 class="card-title">Questionnaires</h4>
      <h5 class="card-text">The following are two surveys and a questionnaire. They are required by one of our funding sources. Please note that your answers to these questions do not affect your acceptance to Fountain House.</h5>
    </div>

    <div class="card-body">
      <p>Please answer the following questions:</p>
      <br>
      <%= f.select :get_needs_met, ["Not at all", "Somewhat", "Mostly", "Completely"], { label: "I get important needs of mine met by my current community", include_blank: true }, { required: true } %>

      <%= f.select :feel_part, ["Not at all", "Somewhat", "Mostly", "Completely"], { label: "It is important for me to feel a part of a community", include_blank: true }, { required: true } %>
    
      <%= f.select :lack_companion, ["Hardly ever", "Some of the time", "Mostly", "Completely"], { label: "How often do you feel that you lack companionship?", include_blank: true }, { required: true } %>

      <%= f.select :left_out, ["Hardly ever", "Some of the time", "Mostly", "Completely"], { label: "How often do you feel left out?", include_blank: true }, { required: true } %>

      <%= f.select :feel_isolated, ["Hardly ever", "Some of the time", "Mostly", "Completely"], { label: "How often do you feel isolated from others?", include_blank: true }, { required: true } %>
    
      <p>Taking everything into consideration, during the past week how satisfied have you been with your...</p>
      <br>
      <%= f.select :satisfaction_physical_health, ["Very poor", "Poor", "Fair", "Good", "Very good"], { label: "...physical health?", include_blank: true }, { required: true } %>
      <%= f.select :satisfaction_mood, ["Very poor", "Poor", "Fair", "Good", "Very good"], { label: "...mood?", include_blank: true }, { required: true } %>
      <%= f.select :satisfaction_work, ["Very poor", "Poor", "Fair", "Good", "Very good"], { label: "...work?", include_blank: true }, { required: true } %>
      <%= f.select :satisfaction_household, ["Very poor", "Poor", "Fair", "Good", "Very good"], { label: "...household activities?", include_blank: true }, { required: true } %>
      <%= f.select :satisfaction_social, ["Very poor", "Poor", "Fair", "Good", "Very good"], { label: "...social relationships?", include_blank: true }, { required: true } %>
      <%= f.select :satisfaction_family, ["Very poor", "Poor", "Fair", "Good", "Very good"], { label: "...family relationships?", include_blank: true }, { required: true } %>
      <%= f.select :satisfaction_leisure, ["Very poor", "Poor", "Fair", "Good", "Very good"], { label: "...leisure time activities?", include_blank: true }, { required: true } %>
      <%= f.select :satisfaction_function, ["Very poor", "Poor", "Fair", "Good", "Very good"], { label: "...ability to function in daily life?", include_blank: true }, { required: true } %>
      <%= f.select :satisfaction_economic, ["Very poor", "Poor", "Fair", "Good", "Very good"], { label: "...economic status?", include_blank: true }, { required: true } %>
      <%= f.select :satisfaction_living_sit, ["Very poor", "Poor", "Fair", "Good", "Very good"], { label: "...living/housing situation?", include_blank: true }, { required: true } %>
      <%= f.select :satisfaction_get_around, ["Very poor", "Poor", "Fair", "Good", "Very good"], { label: "...ability to get around physically without feeling dizzy, unsteady, or falling?", include_blank: true }, { required: true } %>
      <%= f.select :satisfaction_vision, ["Very poor", "Poor", "Fair", "Good", "Very good"], { label: "...vision in terms of ability to do work or hobbies?", include_blank: true }, { required: true } %>
      <%= f.select :satisfaction_overall_sense, ["Very poor", "Poor", "Fair", "Good", "Very good"], { label: "...overall sense of well-being?", include_blank: true }, { required: true } %>
      <%= f.select :satisfaction_medication, ["Very poor", "Poor", "Fair", "Good", "Very good"], { label: "...medication? (If not taking any, leave this blank)", include_blank: true }, { required: true } %>
      <%= f.select :satisfaction_overall_life, ["Very poor", "Poor", "Fair", "Good", "Very good"], { label: "...overall life satisfaction and contentment?", include_blank: true }, { required: true } %>

      <div class="card">
        <div class="card-body">
          <p>Please answer in the context of thinking about drug use, include illegal drug use and the use of prescription drug use other than prescribed.</p>

          <%= render partial: "cage_aid", locals: {f: f} %>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header bg-info text-white">
      <h4 class="card-title">Signature</h4>
    </div>

    <div class="card-body">
      <div class="left-right-container">
        <%= f.label :bronx_or_manhattan, ("Are you applying" +
          " to Fountain House Manhattan or Fountain House Bronx?"),
          class: "position-left" %>
        <%= f.form_group :bronx_or_manhattan do %>
          <div class="position-right">
            <%= f.radio_button :bronx_or_manhattan, "Manhattan",
              label: "Manhattan", required: true,
              inline: true %>
            <%= f.radio_button :bronx_or_manhattan, "Bronx", label: "Bronx",
              required: true,
              inline: true %>
          </div>
        <% end %>
      </div>

      <%= f.text_field :member_signature, label: ("Please sign your name to" +
        " this application by typing it in below (Member)"), required: true %>

      <% if controller.action_name == "show" %>
        <%= f.text_field :member_signature_date, label: "Date", readonly: true %>
      <% end %>

      <%= f.text_field :referral_signature, label: ("Please sign your name to" +
        " this application by typing it in below (Referral)"), required: true %>

      <% if controller.action_name == "show" %>
        <%= f.text_field :referral_signature_date, label: "Date", readonly: true %>
      <% end %>
    </div>
  </div>

  <% unless controller.action_name == "show" %>
    <div class="card">
      <div class="card-header bg-info text-white">
        <h4 class="card-title">Application Submission</h4>
      </div>

      <div class="card-body">
        <h4>
          It is very important that all components of this application are
          absolutely complete. Any missing or incomplete components will,
          unfortunately, delay the application process.
          <br><br>
          Please allow the Membership Team approximately two weeks to review
          applications.
          <br>
          Please contact the Membership Office at (212) 582-0340
          x240 with any questions. Thank you for applying to Fountain House.
        </h4>
        <br>
        <%= f.form_group do %>
          <%= f.submit "Submit Application", class: "btn btn-default btn-primary",
            id: "submit_app", data: { confirm: "Edits will not be possible after submission. Are you sure you are ready to submit the application?" } %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
